<div class="row">
    <div class="col-md-10" style="padding-top:10px; border-bottom: 1px solid #ccc">
<td>
<table class="table table-striped">
  <% @items.each do |item| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
      <%= image_tag item.image_url, :size => "100x100" %>
  </td>
  <td class="list_description">
    <dl>
      <dt><%= item.name %></dt>
      <dd><%= truncate(strip_tags(item.description), length: 200) %></dd>
    </dl>
  </td>
  <td
  <td class="list_actions">
    <% if admin? %>
    <%= link_to 'Destroy', item, method: :delete,
	data: { confirm: 'Are you sure?' } %> <br/>
    <% end %>
    <%= link_to 'Show', item, class: 'btn btn-primary btn-md' %><br/>
    <% if item.user_id == @current_user.id %>
    <%= link_to 'Edit', edit_item_path(item), class: 'btn btn-primary btn-md' %>
    <% end %>

  </td>
  </tr>
  <% end %>
</table>
<br/>
    </div>
</div>
