<div class="row">
 <p style="right:80px"></p>
  <div class="col-md-4">
	<% if user.id == @current_user.id %>
	<%= link_to 'Edit My Profile', edit_user_path(user) %>
	<% end %>
<h1><%= "#{user.user_name}" + "'s Profile" %></h1>
     <%= image_tag user.image, :size => "100x100" %>
  </div>
  <h2 style="padding-left:200px"><%= user.user_name %>'s Items</h2>
  <div class="col-md-8">
    <%= render 'items' %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
  <div class="jumbotron">
  <h2> <u>About</u> </h2>
  <p> Hi, I'm <%= user.user_name %> </p>
  <% user = @user %>
  <h2> <u>Public Information</u> </h2>
  <p> <b>Email</b>: <%= user.email %> </p>
  <p> <b>Reliability</b>: <%count1 = Offer.find(:all, :conditions => { :user1_id => user.id, :accepted => true})%>
  <%count2 = Offer.find(:all, :conditions => { :user2_id => user.id, :accepted => true})%>
  <%= count1.length + count2.length %> </p>
  <%l = Location.find_by user_id: user.id%>
  <p> <b>Address</b>: <%if !l.nil? %> 
    <%=l.address%>
    <% if user.id != @current_user.id %>
  <% tmp = Location.find_by user_id: @current_user.id %>
  <p><b>Distance</b>: <%= l.distance_to(tmp).round(2)%> miles </p>
  <% end %>
    <%end%></p>
  </div>
  </div>


