<script>
$(function () {
  $('[data-toggle="popover"]').popover();
});
</script>

<div class="row">
 <p style="right:80px"></p>
  <div class="col-md-4">
  <div class="jumbotron" style="padding-top:10px; padding-left:10px; padding-right:10px; backgorund-color: #ccc">
<h3><% if user.id == @current_user.id %>
  <%= "Your profile" %>
  <%= link_to 'Edit My Profile', edit_user_path(user), class: "btn btn-primary btn-sm" %>
  <% else%>
  <p><%= user.user_name + "'s profile"%> </p>
  <% end %></h3>
    <% if user.image.present? %>
      <img src= <%=user.image %> height="100" width="100"> 
    <% else %>
     <%= image_tag 'person.png', :size => "100x100" %>
    <% end %>
  <h3> <u>About</u> </h3>
  <p><%= "Hi, I'm " + user.user_name %> </p>
  <h3> <u>Public Information</u> </h3>

  <p> <b>Email</b>: <%= user.email %> </p>
  <p style="font-size:20px"><a id="popoverData" href="#" data-content="Your Reliability score is an aggregate value of all ratings you have been given (max 5.0)" data-toggle="popover" rel="popover" data-placement="top" data-original-title="Reliability Score" data-trigger="hover">Reliability Score:   </a><%=reliability_score(user.id)%> </p>
  <%l = Location.find_by user_id: user.id%>
  <p> <b>Address</b>: <%if !l.nil? %> 
    <%=l.address%>
    <% if user.id != @current_user.id %>
  <% tmp = Location.find_by user_id: @current_user.id %>
  <p><b>Distance</b>: <%= l.distance_to(tmp).round(2)%> miles </p>
  <% end %>
    <%end%></p>
<p><b>This User is interested in:</b><% User.looking_for?(@current_user).keys.each do |category| %>
  <%= category + "," %>
  <% end %>
					
  </div>
  </div>
  <div class="col-md-8" style="border-left: 1px solid #ccc">
    <h1 style="padding-left:70px"><%= user.user_name %>'s Available Items</h1>
    <%= render '/items/items' %>
  </div>
</div>


