<% user = @user %>
<style>
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
</style>


<% if flash[:notice] %>
<div class = "alert alert-success alert-dismissible"  role="alert" style="margin-top:10px">
<button type="button" class="close" data-dismiss="alert" aria-label="Close" style="top:-13px"><span aria-hidden="true">&times;</span></button>
<h3><%= flash[:notice] %></h3>
</div>
<% end %>

<%= render 'userprofile', :user => user %>
  
	<% if admin? %>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
