  <%= stylesheet_link_tag "welcome" %>
<div class="row">
    <div class="col-md-3" style="border-bottom: 1px solid #ccc">
<% if flash[:alert] %>
    <p id="notice"><h3><%= flash[:alert] %></h3></p>
  <% end %>
  <%= form_tag do %>
      <h2>Please Log In</h2>
      <div class="jumbotron" style="padding-top:10px; padding-left:10px; padding-right:10px;">
      <div class="form-group" style="margin-bottom: 20px">
        <%= label_tag :email, 'Email:' %>
        <%= text_field_tag :email, params[:email], class: 'form-control' %>
      </div>
      <div class="form-group" style="margin-bottom: 20px">
        <%= label_tag :password, 'Password:' %>
        <%= password_field_tag :password, params[:password], class: 'form-control' %>
      </div>
  
        <%= submit_tag "Login", :class => 'myButton' %><br>
	<% end %>
	<%= link_to 'New User? Sign up!', new_user_path %>
    </div>
    </div>
<div class="row">
  <div class="col-md-8" style="padding-left:50px;  text-shadow: 1px 1px black;">
    <h2>About Us</h2>
    <div class="jumbotron" style="padding-top:20px; padding-left:10px; padding-right:10px;">
    
    <p>
      BarterMe is a trading site that enables users to make trades with other local users.  Our aim is to help making finding and negotiating for items simpler, easier, and more reliable than other exchange sites allow.  If this is your first time at the site, feel free to check out our <a href="/items">Items</a> before signing up.  If it isn't, then welcome back, and happy trading!
    </p>
    </div>
  </div>
</div>

