<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @homepage.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @homepage.description %>
</p>

<%= link_to 'Edit', edit_homepage_path(@homepage) %> |
<%= link_to 'Back', homepages_path %>
