<p id="notice"><%= notice %></p>

<p> 
  <%=image_tag @item.image_url %>
</p>
  <p>
    <h1><%= @item.name %></h1>
  </p>
<p>

  <h1><strong>Description:</strong></h1>
  <%= @item.description %>
</p>

<p>
 <h1><strong>Location:</strong></h1>
  <%= @item.location %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>
<% if @item.user_id == @current_user.id %>
<%= link_to 'Edit', edit_item_path(@item) %>
<% end %>
<%= link_to 'Back', items_path %>
