<p id="notice"><h3><%= notice %></h3></p>

  <p>
    <h1><%= @item.name %></h1>
  </p>

  <p> 
  <%=image_tag @item.image_url, :size => "200x200" %>
</p>
 
    <h1><strong>Owner:</strong></h1>
  <p style="font-size:20px"><a href=<%= "/profile/#{@item.user.id}" %>> <%= "#{@item.user.user_name}" %></a></li></p>
<p>
  <h1><strong>Description:</strong></h1>
  <%= @item.description %>
</p>

<p>
 <h1><strong>Location:</strong></h1>
  <%= @item.location %>
</p>

<p>
  <h1><strong>Quantity:</strong></h1>
  <%= @item.quantity %>
</p>
<% if logged_in? && @item.user_id == @current_user.id %>
<%= link_to 'Edit', edit_item_path(@item) %>
<% end %>
<%= link_to 'Back', items_path %>
