
<div class="row">
 <p style="right:80px"></p>
  <div class="col-md-4">
    <%= image_tag "person.jpg" %>
  </div>
  <div class="col-md-4" style:"left:-100px">
    <%= render 'items' %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
  <div class="jumbotron">
  <h2> About </h2>
  <p> hi, I'm <%= user.user_name %> </p>
  <% user = @user %>
  <h2> Public Information </h2>
  <p> Email: <%= user.email %> </p>
  <p> reliability: <%= user.reliability %> </p>
  <p> address: <%= user.address %> </p>
  <p> reliability: <%= user.reliability %> </p>
  </div>
  </div>
