  <%= stylesheet_link_tag "welcome" %>
<div class="row">
    <div class="col-md-3" style="padding-bottom:10px; border-bottom: 1px solid #ccc">
<% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag do %>
      <legend>Please Log In</legend>
      <div class="form-group" style="margin-bottom: 20px">
        <%= label_tag :email, 'Email:' %>
        <%= text_field_tag :email, params[:email], class: 'form-control' %>
      </div>
      <div class="form-group" style="margin-bottom: 20px">
        <%= label_tag :password, 'Password:' %>
        <%= password_field_tag :password, params[:password], class: 'form-control' %>
      </div>
  
        <%= submit_tag "Login", class: "btn btn-default" %>
    </div>

<div class="row">
  <div class="col-md-8" style="padding-left:50px; border-left: 1px; color:white;  text-shadow: 2px 2px black;">
    <h1 style="color:white">About Us</h1>
    
    <p><b>
      BarterMe is a trading site that enables users to make trades with other local users.  Our aim is to help making finding and negotiating for items simpler, easier, and more reliable than other exchange sites allow.  If this is your first time at the site, feel free to check out our <a href="/items">Items</a> before signing up.  If it isn't, then welcome back, and happy trading!
    </p></b>
  <% end %>

