<!DOCTYPE html>
<html>
<head>
  <title>BarterMe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class= '<%= controller.controller_name %>'>
	<div id="banner">
		<%= image_tag("bartering.jpg") %>
		<%= @page_title || "BarterMe: Better than Craigslist!!" %>
	</div>
	<div id="columns">
		 <ul>
			<li><a href="http://www....">Users</a></li>
			<li><a href="http://www..../faq">Items</a></li> 
			<li><a href="http://www..../news">Offers</a></li>
		</ul> 
	</div>
</div>
<%= yield %>

</body>
</html>
