<p id="notice"><%= notice %></p>

<p>
  <strong>Offer:</strong>
  <%= @offer.offer_id %>
</p>

<p>
  <strong>User1:</strong>
  <%= @offer.user1_id %>
</p>

<p>
  <strong>User2:</strong>
  <%= @offer.user2_id %>
</p>

<p>
  <strong>Item1:</strong>
  <%= @offer.item1_id %>
</p>

<p>
  <strong>Item2:</strong>
  <%= @offer.item2_id %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @offer.accepted %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
