<% @offer = Offer.find(params[:id])%>


<div class="col">
  <div class="container-fluid" style="margin-bottom: 1px">
    <div class="row" style="padding-left:20px;">
      <p>
        <% proposer = User.find(@offer.user2_id)%>
        <% proposee = User.find(@offer.user1_id)%>
        <% if (session[:user_id] == proposer.id.to_i)%>
          <% proposer_str = "You are "%>
          <% proposee_str = proposee.user_name + "'s "%>
        <% else %>
          <% proposer_str = proposer.user_name + " is "%>
          <% proposee_str =  "your "%>
        <% end %>
        <h3><%= link_to proposer.user_name, "/profile/#{proposer.id}"%><%=" is offering items"%><b></h3>
        <table class="table table-striped">
          <% @offer.item2_id.split(",").each do |id|%>
          <% item = Item.find(id.to_i) %>
          <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td align="left" width="20%">
              <%= image_tag item.image_url, :size => "200x200" %>
            </td>
            <td class="list_description" align="left" width="80%">
              <dl>
                <h5><b><%= link_to item.name, "/items/#{item.id}" %><b></h5>
                <dd><%= truncate(strip_tags(item.description), length: 100) %></dd>
              </dl>
            </td>
          </tr>
          <% end %>
        </table>
      </p>
    </div>
    <div class="span4">
      <div class="row" style="padding-left:20px;">
        <h3><%= " for " + proposee_str + " items:" %></h3>
      </p>
      <table class="table table-striped">
        <% @offer.item1_id.split(",").each do |id|%>
        <% item = Item.find(id.to_i) %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td align="left" width="20%">
            <%= image_tag item.image_url, :size => "200x200" %>
          </td>
          <td class="list_description" align="left" width="80%">
            <dl>
              <h5><b><%= link_to item.name, "/items/#{item.id}" %><b></h5>
              <dd><%= truncate(strip_tags(item.description), length: 100) %></dd>
            </dl>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<p>
  <h4>Status:</h4>
  <% if @offer.pending %>
  <td><h4><span class="label label-default label-lg">Pending</span></h4></td>
  <% else%>
  <% if @offer.accepted %>
  <td><h4><span class="label label-success label-lg">Accepted</span></h4></td>
  <% else %>
  <td><h4><span class="label label-danger label-lg">Rejected</span></h4></td>
  <% end %>
  <% end %>
</p>
</div>