<h1>Your Offers</h1>

 <div class="row">
    <div class="col-md-10" style="padding-top:10px; border-bottom: 1px solid #ccc">
<table class="table table-striped">

  <% offers1 = Offer.where(user1_id: session[:user_id])%>
  <% offers2 = Offer.where(user2_id: session[:user_id])%>
  <% @offers = offers1.concat(offers2) %>
    <thead>
      <tr>
	<th>Proposee</th>
	<th>Proposer</th>
	<th>Items desired</th>
	<th>Items offered</th>
	<th>Accepted?</th>
      </tr>
    </thead>
    <tbody>
    <% @offers.each do |offer| %>
    <% item1_ids = offer.item1_id.split(",") %>
    <% item2_ids = offer.item2_id.split(",") %>
    <% user1 = User.find(offer.user1_id) %>
    <% user2 = User.find(offer.user2_id) %>
    <% item1 = Item.find(item1_ids) %>
    <% item2 = Item.find(item2_ids) %>
    <tr>

    <% item1_names = [] %>
    <% item2_names = [] %>
    <% item1.each { |i| item1_names << i.name } %>
    <% item2.each { |i| item2_names << i.name } %>

      <td><%= user1.user_name %></td>
      <td><%= user2.user_name %></td>
      <td><%= item1_names.join(", ") %></td>
      <td><%= item2_names.join(", ") %></td>
      <td><%= offer.accepted %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
  <br>

