<h1>Review your offer</h1>


<div class="col">
  <div class="container-fluid" style="margin-bottom: 1px">
    <div class="row" style="padding-left:20px;">
      <p>
        <% proposer = User.find(params[:user2_id])%>
        <% proposee = User.find(params[:user1_id])%>
        <h2>
          <% if proposer.id == @current_user.id %>
          <%= "You are offering items:"%>
          <% else %>
          <%= link_to proposer.user_name, "/profile/#{proposer.id}"%><%= " is offering items:"%>
          <% end %>
        </h2>
        <table class="table table-striped">
          <% params[:item2_ids].each do |id|%>
          <% item = Item.find(id) %>
          <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            <td>
              <%= image_tag item.image_url, :size => "100x100" %>
            </td>
            <td class="list_description">
              <dl>
                <h4><%= link_to item.name, "/items/#{item.id}" %></h4>
                <dd><%= truncate(strip_tags(item.description), length: 100) %></dd>
              </dl>
            </td>
          </tr>
          <% end %>
        </table>
      </p>
    </div>
    <div class="span4">
      <div class="row" style="padding-left:20px;">
          <h2>
          <% if proposee.id == @current_user.id %>
          <%= "for your items:"%>
          <% else %>
          <%= " for "%><%= link_to proposee.user_name, "/profile/#{proposee.id}"%><%="'s items:" %>
          <% end %>
        </h2>
      </p>
      <table class="table table-striped">
        <% params[:item1_ids].each do |id|%>
        <% item = Item.find(id) %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td>
            <%= image_tag item.image_url, :size => "100x100" %>
          </td>
          <td class="list_description">
            <dl>
              <h4><%= link_to item.name, "/items/#{item.id}" %></h4>
              <dd><%= truncate(strip_tags(item.description), length: 100) %></dd>
            </dl>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<%= button_to "Confirm Offer", {action: "create", offer: {:user1_id=>params[:user1_id], :item1_id=>params[:item1_ids].join(","), :user2_id=>params[:user2_id], :item2_id=>params[:item2_ids].join(","), :accepted=>false, :pending=>true} }, :class => 'myButton' %>

<%= button_to 'back', new_offer_form_path, :method => :get, class: 'btn btn-primary btn-md' %>

