<p id="notice"><%= notice %></p>
<style>
h4 {
  color: orange;
}
</style>

<%= render :partial => 'detail', :locals => {:offer => @offer} %>


<p>
  <strong>Rating:</strong>
  <% r = Rating.find_by user_id: @offer.user1_id + @offer.user2_id - @current_user.id%>
  <%= r.score %>
</p>


<div class="row">
  <div class="col-md-10" style="padding-top:10px; border-bottom: 1px solid #ccc">
    <%= render :partial => 'ratings/form', :locals => {:offer => @offer}  %>
  </div>
</div>



<div class="row">
  <div class="col-md-10" style="padding-top:10px; border-bottom: 1px solid #ccc">
   <table class="table table-striped">
    <thead>
    </thead>
    <% @offer.comments.each do |c| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
     <td class="col-md-2">
       <%= c.from %>
       <%= "said:" %>
     </td>
     <td>
      <%= c.message %>
    </td>
    <td class="col-md-6">
      <td>
        <%= c.created_at.to_s.delete("UTC") %>
      </td>
    </td>
  </tr>
  <% end %>
</table>

<%= render :partial => 'comments/form', :params => @offer %>


</div>
</div>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
