<p id="notice"><%= notice %></p>

<p>
  <strong>User1:</strong>
  <%= @offer.user1_id %>
</p>

<p>
  <strong>User2:</strong>
  <%= @offer.user2_id %>
</p>

<p>
  <strong>Item1:</strong>
  <%= @offer.item1_id %>
</p>

<p>
  <strong>Item2:</strong>
  <%= @offer.item2_id %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @offer.accepted %>
</p>

<p>
  <strong>Rating:</strong>
  <% r = Rating.find_by user_id: @offer.user1_id + @offer.user2_id - @current_user.id%>
  <%= r.score %>
</p>




<strong>Chat log:</strong>
<div class="row">
  <div class="col-md-10" style="padding-top:10px; border-bottom: 1px solid #ccc">
   <table class="table table-striped">
    <thead>
   </thead>
    <% @offer.comments.each do |c| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
     <td class="col-md-2">
       <%= c.from %>
       <%= "said:" %>
     </td>
     <td>
      <%= c.message %>
    </td>
    <td class="col-md-6">
    <td>
      <%= c.created_at.to_s.delete("UTC") %>
    </td>
    </td>
  </tr>
  <% end %>
</table>

<%= render :partial => 'comments/form', :params => @offer %>


</div>
</div>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
