<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-5">
      <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.select(:category_id, options_from_collection_for_select(Category.all, :id, :name, @item.category_id)) %>
  </div>
  
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.file_field :image_url %>
  </div>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-large btn-primary" %>
  </div>

<div id="preview">
</div>

    </div>
  </div>
  <% end %>
  
