<div class="row">
  <div class="col-md-12" style="padding-top:2px; border-bottom: 1px solid #ccc">
    <td>
      <table class="table table-striped">
        <% @items.each_with_index do |item, index| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td>
            <%= image_tag item.image_url, :size => "100x100" %>
          </td>
          <td class="list_description">
            <dl>
              <dt><%= item.name %></dt>
              <dd><%= truncate(strip_tags(item.description), length: 100) %></dd>
            </dl>
          </td>
          <td>
           <% if @similarity_score != nil %>
           <p class = "small" style="font-size:30px; color:red; padding-bottom:64px; padding-right:64px;">
          <%= @similarity_score[index] %>
            <style> p.small {
              line-height: 148.55%;
              }</style>
              <% end %>
            </td>
          </td>
          <td class="list_actions">
            <% if logged_in? && admin? %>

            <%= button_to 'Add to Watchlist', line_items_path(item_id: item), class: 'btn btn-primary btn-md' %>
            <%= link_to 'Show', item %>
            <%= link_to 'Edit', edit_item_path(item) %>
            <%= link_to 'Destroy', item, method: :delete,
            data: { confirm: 'Are you sure?' } %> <br/>

            <% elsif logged_in? && item.user_id != @current_user.id %>
            <%= button_to 'Add to Watchlist', line_items_path(item_id: item), class: 'btn btn-primary btn-md' %>
            <%= link_to 'Show', item, class: 'btn btn-primary btn-md' %><br/>
            <% elsif logged_in? %>
            <%= link_to 'Show', item, class: 'btn btn-primary btn-md' %>
            <%= link_to 'Edit', edit_item_path(item), class: 'btn btn-primary btn-md' %>
            <%= link_to 'Destroy', item, method: :delete,
            data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-md' %> 
            <% else %>
            <%= link_to 'Show', item, class: 'btn btn-primary btn-md' %><br/>
            <% end %>

          </td>
        </tr>
        <% end %>
      </table>
      <br/>
    </div>
  </div>

