<h1>Listing products</h1>
<div class="row" style="padding-top:10px">
   <div class="col-md-3" style="padding-top:10px">
    <td class="form-group">
     <%= form_tag items_path, class: "form-inline", method: :get do %>
     <%= text_field_tag :query, params[:query], class: "form-control", :style => "width:170px"%>    
     <%= submit_tag "Search", class: "btn btn-primary" %></br>
     <% if params[:query].present? %>    
     <%= link_to "clear", items_path%>
     <% end %>
     <% end %>
    <%= link_to 'Advanced Search', search_items_path %>
   </div>

      <td class="form-group">
       <%= form_tag items_path, class: "form-inline", method: :get do %>
       <% options = options_for_select([['name', "name"], ['recently added', "created_at"], ['recently updated', "updated_at"]]) %>
     </td>
     <div class="col-md-3" style="padding-top:10px">
       <%= select_tag(:order, options, class: "form-control", :style => "width:170px") %>
       <%= submit_tag "Order By", class: "btn btn-primary" %>
       <% end %>
      </div>

   <div class="col-md-2" style="padding-left:78px; padding-top: 50px">
    <%if logged_in? %>
      <h4><%= "Can I get it?" %></h4>
   </div>
   <div class="col-md-2">
    <td class="form-group">

      <%if has_location?(current_user.id)%>
      <%= form_tag items_path, class: "form-inline", method: :get do %>
      <%= label(:location, :"How far you're willing to travel?")%>
      <% options = options_for_select([['All miles', 24901],['10 miles', 10], ['20 miles', 20], ['50 miles', 50], ['100 miles', 100]]) %>
      <%= select_tag(:location, options, class: "form-control") %>
      <%= submit_tag "Apply", class: "btn btn-primary " %>
      <%end%>
      <%end%>
    <%end%>
    </td>

  </div>
</div>

<%= render 'items' %>

<%= link_to 'New Item', new_item_path %>
<%= paginate @items %>
