<div class="row">
    <div class="col-md-3" style="padding-bottom:10px; border-bottom: 1px solid #ccc">
	 
<h1>SEARCH</h1>
<%= form_tag "search", method: "get", remote: true, :class => "form-inline", :role => "form"  do %>

<div class="form-group" style="margin-bottom: 20px">
  <label>Name</label>
  <br><%= text_field_tag :name, "", class: "form-control" %></br>
</div>
<div class="form-group" style="margin-bottom: 20px">
  <label>Description</label>
  <br> <%= text_area_tag :description, "", size: "24x2", class: "form-control" %></br>
</div>
<div class="form-group" style="margin-bottom: 20px">
  <label>Match All?</label>
  <%= check_box_tag(:match_all) %>
</div>

  <br><%= submit_tag("Search", class: "btn btn-default") %>
<% end %>

    </div>
    
  <div class="col-md-8" style="padding-left:20px; border-left: 1px solid #ccc;">
      <h1>Matching Items</h1>
      <div id="items">
      </div>

