<%= form_for(@offer) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :offer_id %><br>
    <%= f.number_field :offer_id %>
  </div>
  <div class="field">
    <%= f.label :user1_id %><br>
    <%= f.number_field :user1_id %>
  </div>
  <div class="field">
    <%= f.label :user2_id %><br>
    <%= f.number_field :user2_id %>
  </div>
  <div class="field">
    <%= f.label :item1_id %><br>
    <%= f.number_field :item1_id %>
  </div>
  <div class="field">
    <%= f.label :item2_id %><br>
    <%= f.number_field :item2_id %>
  </div>
  <div class="field">
    <%= f.label :accepted %><br>
    <%= f.check_box :accepted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
