<h1>Listing offers</h1>

<table>
  <thead>
    <tr>
      <th>Offer</th>
      <th>User1</th>
      <th>User2</th>
      <th>Item1</th>
      <th>Item2</th>
      <th>Accepted</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.offer_id %></td>
        <td><%= offer.user1_id %></td>
        <td><%= offer.user2_id %></td>
        <td><%= offer.item1_id %></td>
        <td><%= offer.item2_id %></td>
        <td><%= offer.accepted %></td>
        <td><%= link_to 'Show', offer %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
