<h1>Listing offers</h1>

<table>
  <thead>
    <tr>
      <th>Proposee</th>
      <th>Proposer</th>
      <th>Offered item</th>
      <th>Desired item</th>
      <th>Accepted</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <% user1 = User.find(offer.user1_id) %>
        <% user2 = User.find(offer.user2_id) %>
        <% item1 = Item.find(offer.item1_id) %>
        <% item2 = Item.find(offer.item2_id) %>


        <td><%= user1.user_name %></td>
        <td><%= user2.user_name %></td>
        <td><%= item1.name %></td>
        <td><%= item2.name %></td>
        <td><%= offer.accepted %></td>
        <td><%= link_to 'Show', offer %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
