<h1>Your Offers</h1>
<div class="row">
    <div class="col-md-12" style="padding-bottom:10px; border-bottom: 1px solid #ccc">
 <td class="form-group">
    <%= form_tag items_path, class: "form-inline", method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control" %>    
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% if params[:query].present? %>    
    <%= link_to "clear", items_path%>
    <% end %>
  </td>

 <div class="row">
    <div class="col-md-10" style="padding-top:10px; border-bottom: 1px solid #ccc">
<table class="table table-striped">
    <thead>
      <tr>
	<th>User1</th>
	<th>User2</th>
	<th>Item1</th>
	<th>Item2</th>
	<th>Accepted?</th>
      </tr>
    </thead>
    <tbody>
    <% @offers.each do |offer| %>
    <% user1 = User.find(offer.user1_id) %>
    <% user2 = User.find(offer.user2_id) %>
    <% item1 = Item.find(offer.item1_id) %>
    <% item2 = Item.find(offer.item2_id) %>
    <tr>
      <td><%= user1.user_name %></td>
      <td><%= user2.user_name %></td>
      <td><%= item1.name %></td>
      <td><%= item2.name %></td>
      <td><%= offer.accepted %></td>
    </tr>
    <% end %>
    </tbody>
  </table>

  <br>

<% end %>
