<h1>Your Offers</h1>
<div class="row">
    <div class="col-md-12" style="padding-bottom:10px; border-bottom: 1px solid #ccc">
 <td class="form-group">
    <%= form_tag items_path, class: "form-inline", method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control" %>    
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% if params[:query].present? %>    
    <%= link_to "clear", items_path%>
    <% end %>
  </td>

 <div class="row">
    <div class="col-md-10" style="padding-top:10px; border-bottom: 1px solid #ccc">
<table class="table table-striped">
    <thead>
      <tr>
	<th>Proposee</th>
	<th>Proposer</th>
	<th>Items desired</th>
	<th>Items offered</th>
	<th>Accepted?</th>
      </tr>
    </thead>
    <tbody>
    <% @offers.each do |offer| %>
    <% item1_ids = offer.item1_id.split(",") %>
    <% item2_ids = offer.item2_id.split(",") %>
    <% user1 = User.find(offer.user1_id) %>
    <% user2 = User.find(offer.user2_id) %>
    <% item1 = Item.find(item1_ids) %>
    <% item2 = Item.find(item2_ids) %>
    <tr>

    <% item1_names = [] %>
    <% item2_names = [] %>
    <% item1.each { |i| item1_names << i.name } %>
    <% item2.each { |i| item2_names << i.name } %>

      <td><%= user1.user_name %></td>
      <td><%= user2.user_name %></td>
      <td><%= item1_names.join(", ") %></td>
      <td><%= item2_names.join(", ") %></td>
      <td><%= offer.accepted %></td>
    </tr>
    <% end %>
    </tbody>
  </table>

  <br>

<% end %>
