

<h1>New offer</h1>

<%  user = User.find_by(id: session[:user_id])
@items = Item.mine? user %>

<% user1 = params[:user1_id] %>
<% item1 = params[:item1_id] %>

<%= form_for(@offer) do |f| %>

<%= f.hidden_field :user1_id, :value => user1 %>
<%= f.hidden_field :item1_id, :value => item1 %>
<%= f.hidden_field :user2_id, :value => user.id %>
<%= f.hidden_field :accepted, :value => false %>
<table>

  <% @items.each do |item| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
      <%= image_tag(item.image_url) %>
    </td>
    <td class="form-group">
     <%= check_box_tag 'item2_ids[]', item.id %>
     <dl>
      <dd><%= item.name %></dd>
      <dd><%= truncate(strip_tags(item.description), length: 80) %></dd>
    </dl>
  </td>
  <td>
</tr>
<% end %>
</table>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>

  <%# button_to 'Offer this', :,
  data: { confirm: 'Cannot save offer yet. Redirecting ...' } %>


  <%= link_to 'Back', '/'%>
