<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @location.user_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<% for location in @location.nearbys(1000) %>
<li><%= link_to location.address, location %> (<%= location.distance.round(2).to_s << ' miles'%>)</li>

<% end %>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
