<!DOCTYPE html>
<style>
button {
	color: #9c9;
	opacity: 1;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
	height: 50px;
	width: 85px;
}
</style>



<html lang="en">
<head>
	<title>Barter Me</title>


	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<%= stylesheet_link_tag "custom" %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<style type="button/css">
		ul li:hover ul {
			display: block; /* display dropdown */
		}
</style>
<nav class="nav-tabs">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/"><%= image_tag "barterme.png", :size => "150x40" %></a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<% if logged_in? %>
					<% if admin? %>
						<li><a href="/users">Users</a></li>
						<li><a href="/admin">Admin</a></li>
					<% end %>
				<li><a href="/items">Items</a></li> 
				<li><a href="/offers">Offers</a></li>
				<li><%= link_to "Watchlist", cart_path(@cart) %></li>
			</ul>


			<ul class="nav navbar-nav navbar-right">
				<li style="padding-right:10px; "><%= button_to 'Make a Barter', new_offer_form_path(@cart), :method => :get, class: 'myButton' %></li>
				<li><button type="button" data-toggle="dropdown" aria-expanded="false" id="close-image">
					<img src= <%=@current_user.image %> height="50" width="85"> 
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/profile">My Profile</a></li>
					<li><a href="/items/my_items">My Items</a></li>
					<li><a href="/logout">Log out</a></li>
				</ul>
			</li>

			<% else %>

			<li><a href="/login">Login</a></li>
			<li><a href="/users/new">Sign up</a></li>
			<li><a href="/items">Items</a></li> 
			<% end %>

		</ul>

	</ul>
</div>
</div>
</nav>
<div class="container">
	<%= yield %>
</div>

</body>
</html>

